<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>WBD 15Z</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div>
        <h2>ValueDistrictNumber List
            <button class="btn btn-default pull-right" onclick="location.href='/valueDistrictNumber/new'"> Add</button>
        </h2>
        <table class="table table-striped" th:if="${not #lists.isEmpty(#objects)}">
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="valueDistrictNumber : ${objects}">
                <td th:text="${valueDistrictNumber.id}"><a href="/valueDistrictNumber/${valueDistrictNumber.id}">Id</a></td>
                <td th:text="${valueDistrictNumber.value}">Firstname</td>
                <td><a th:href="${'/valueDistrictNumber/get/' + valueDistrictNumber.id}">View</a></td>
                <td><a th:href="${'/valueDistrictNumber/edit/' + valueDistrictNumber.id}">Edit</a></td>
                <td><a th:href="${'/valueDistrictNumber/delete/' + valueDistrictNumber.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>