<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>WBD 15Z</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <div>
        <h2>ValueCustomerNumber List
            <button class="btn btn-default pull-right" onclick="location.href='/valueCustomerNumber/new'"> Add</button>
        </h2>
        <div class="form-group">
            <input id="entity" type="hidden" th:value="valueCustomerNumbers"/>
            <div class="col-sm-4">
                <select id="select" class="form-control">
                    <option>Select Attribute</option>
                    <option th:each="b : ${attrs}" th:value="${b}" th:text="${b}"></option>
                </select>
            </div>
            <div class="col-sm-4">
                <input class="form-control" id="input" placeholder="Insert Value"/>
            </div>
            <div class="col-sm-4">
                <button class="form-control" onclick="search()"> Search</button>
            </div>
        </div>
        <table class="table table-striped" th:if="${not #lists.isEmpty(objects)}">
            <tr>
                <th>Id</th>
                <th>value</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="valueCustomerNumber : ${objects}">
                <td th:text="${valueCustomerNumber.id}"><a href="/valueCustomerNumber/${valueCustomerNumber.id}">Id</a></td>
                <td th:text="${valueCustomerNumber.value}">Firstname</td>
                <td><a th:href="${'/valueCustomerNumber/get/' + valueCustomerNumber.id}">View</a></td>
                <td><a th:href="${'/valueCustomerNumber/edit/' + valueCustomerNumber.id}">Edit</a></td>
                <td><a th:href="${'/valueCustomerNumber/delete/' + valueCustomerNumber.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>