<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-collapse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/customers}">Show</a></li>
                                <li><a href="#" th:href="@{/customer/new}">Add Customer</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Flat<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Show</a></li>
                                <li><a href="#">Add Flat</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="page-header">
            <h1>Wstęp do baz danych <small>15Z</small></h1>
        </div>
    </div>
</div>
</body>
</html>