<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <div class="container-navbar">
            <nav class="navbar navbar-default navbar-fixed-top navbar-collapse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Tables<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" th:href="@{/customers}">Customers</a></li>
                                    <li><a href="#" th:href="@{/employees}">Employee</a></li>
                                    <li><a href="#" th:href="@{/developers}">Developer</a></li>
                                    <li><a href="#" th:href="@{/projects}">Project</a></li>
                                    <li><a href="#" th:href="@{/buildings}">Building</a></li>
                                    <li><a href="#" th:href="@{/flats}">Flat</a></li>
                                    <li><a href="#" th:href="@{/houses}">House</a></li>
                                    <li><a href="#" th:href="@{/segments}">Segment</a></li>
                                    <li><a href="#" th:href="@{/agreements}">Agreement</a></li>
                                    <li><a href="#" th:href="@{/offers}">Offer</a></li>
                                    <li><a href="#" th:href="@{/offerStatuses}">OfferStatus</a></li>
                                    <li><a href="#" th:href="@{/preferences}">Preference</a></li>
                                    <li><a href="#" th:href="@{/districts}">District</a></li>
                                    <li><a href="#" th:href="@{/subdivisions}">Subdivision</a></li>
                                    <li><a href="#" th:href="@{/valueCustomerTexts}">ValueCustomerText</a></li>
                                    <li><a href="#" th:href="@{/valueCustomerNumbers}">ValueCustomerNumber</a></li>
                                    <li><a href="#" th:href="@{/valueDistrictTexts}">ValueDistrictText</a></li>
                                    <li><a href="#" th:href="@{/valueDistrictNumbers}">ValueDistrictNumber</a></li>
                                    <li><a href="#" th:href="@{/valueSubdivisionTexts}">ValueSubdivisionText</a></li>
                                    <li><a href="#" th:href="@{/valueSubdivisionNumbers}">ValueSubdivisionNumber</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Features<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"  th:href="@{/findByPreferences}">Match To Preferences</a></li>
                                    <li><a href="#">Find new real property</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>