<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>WBD 15Z</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div>
        <h2>Building List
            <button class="btn btn-default pull-right" onclick="location.href='/building/new'"> Add</button>
        </h2>
        <table class="table table-striped"  th:if="${not #lists.isEmpty(#objects)}">
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Street</th>
                <th>Flor Quantity</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="obj : ${objects}">
                <td th:text="${obj.id}"><a href="/building/${building.id}">Id</a></td>
                <td th:text="${obj.city}">City</td>
                <td th:text="${obj.street}">Street</td>
                <td th:text="${obj.florQuantity}">Flor Quantity</td>
                <td><a th:href="${'/building/get/' + obj.id}">View</a></td>
                <td><a th:href="${'/building/edit/' + obj.id}">Edit</a></td>
                <td><a th:href="${'/building/delete/' + obj.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>